# PostgreSQL Database URL (Render internal URL recommended)
DATABASE_URL="postgresql://delschool_db_user:OL96gGJOBbnsf1bwsobNz8AQV5ewOPbo@dpg-d592o36r433s73fiodsg-a/delschool_db"

# Authentication
JWT_SECRET="a1b2c3d4e5f6789012345678901234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef12345675"
JWT_EXPIRES_IN="7d"

# Server
PORT=5432
NODE_ENV=production